/* ==UserStyle==
@name           Dark Google Search
@namespace      github.com/timas130/dark-google
@version        1.0.0
@description    Dark Google
@author         Blodwedd
==/UserStyle== */

@-moz-document regexp("https?:\\/\\/(www\\.)?google\\..{2,3}\\/?.*") {
    body, .gb_ba, .gb_Sb, .gb_Aa, #gb a.gb_Aa.gb_Aa, .gb_Ba, .RNNXgb, .aajZCb, .jhp input[type="submit"], .fbar, #fbar, .gb_va .gb_ea, #gb a.gb_fa, #hdtbSum, .hdtb-tl, #topabar, .hdtbU, .hdtbItm, .q.qs, .y8AWGd, .LhCR5d, .ab_button, .fl, .sfbg.nojsv, .cdr_bg, .cdr_dlg, .jleFbf, .vk_c, .gx4n6c {
        background: #23272A !important;
    }

    .gb_P, .gb_Mb, .gb_Aa, #gb a.gb_Aa.gb_Aa, .gb_Ba, #SIvCob, .gLFyf, .sbl1p, .jhp input[type="submit"], .Q8LRLc, .Fx4vi, .gb_Z, #gb a.gb_fa, .sbl1, .Cq34nf:hover, .q.qs:hover, .hdtb-tl, #slim_appbar, .hdtb-mn-hd:hover, #cdrlnk:hover, .eJ7tvc, .med.dPAwzb, #swml-loc, .std, .st, .knowledge-panel, .kno-ecr-pt, div.cdr_ttl, .cdr_mml, .ksb, .ktf, .goog-date-picker-monthyear, .goog-date-picker-wday, .goog-date-picker-date, .garHBe, .rhsg4, .jleFbf, .mod, .gL9Hy, .spell_orig, .match-mod-horizontal-padding, #knowledge-currency__tgt-currency, .vk_bk, .PT927b, .gx4n6c, .WDySud, .cur {
        color: #99AAB5 !important;
    }

    .jhp input[type="submit"]:hover, .sbct:hover, .gb_T:hover .gb_Z, .hdtbItm:hover, #cdrlnk:hover, .LhCR5d:hover, .sbct.sbhl, .ksb, .cdr_highl, .ktf, .goog-date-picker, .cF4V5c, .y8Jpof:hover, .jleFbf:hover, .vk_sh, .vk_bk, .uWmgv, .WDySud {
        background: #2C2F33 !important;
    }
    
    .LhCR5d:hover .PUDfGe.z1asCe.kKuqUd, #knowledge-currency__tgt-amount {
        color: white !important;
    }

    a, .LC20lb, .iUh30, .mB12kf, .wUrVib, .q.qs, .fl.fl.fl, .RJn8N, .o5Wcxb, #fprsl, a.spell_orig {
        color: #7289DA !important;
    }

    .gb_ub, .gb_vb {
        border-width: 0 8.5px 8.5px;
        border-bottom-color: #23272A;
    }
    
    .hdtb-mn-hd:hover .mn-dwn-arw {
        border-color: #99aab5 transparent;
    }

    .b2hzT, #fbar, .gb_T:hover a, .H73aad {
        border: none;
    }

    .gb_xc {
        background-image: url(//github.com/timas130/dark-google/raw/master/icons-set.png);
        -webkit-background-size: 528px 68px;
        background-size: 528px 68px;
    }
    
    .hdtbSel {
        background-image: url(//github.com/timas130/dark-google/raw/master/checkmark.png) !important;
        background-position: left center !important;
        background-repeat: no-repeat !important;
    }
    
    .z1asCe {
        fill: #99AAB5 !important;
    }
}
